.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card .border-info .mb-3 {
  max-width: 20rem;
}

.card-container .card {
  margin: 0 1%;
}

div.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs .tabs-pane {
  margin: 1%;
  padding-bottom: 0.5%;
  cursor: pointer;
  list-style: none;
}

.tabs .tabs-pane span {
  color: cadetblue;
  font-size: 1.5rem;
}

.tabs .tabs-pane.active {
  border-bottom: 1px solid cadetblue;
}

.tab-content {
  width: 50%;
  margin: auto;
}

.card-title span {
  font-weight: bold;
  color: #78c2ad;
}

form fieldset {
  border: 1px solid;
  padding: 5%;
  border-radius: 5px;
}

form fieldset legend {
  padding: 0 1%;
  width: auto;
}

.tabs ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
